@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #adadad;
}

.container {
  position: absolute;
  width: 900px;
  height: 560px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 5px rgba(109, 109, 109, 0.8);
}

#title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 24px;
}

#tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: rgb(137, 172, 247);
  box-shadow: 0px 4px 8px 3px rgba(109, 109, 109, 0.8);
  border-radius: 8px;
  border: 0;
  width: 150px;
  height: 50px;
  font-size: 14px;
  pointer-events: none;
}

.bar-chart svg {
  margin: auto;
}

.bar {
  fill: rgb(60, 151, 226);
}

.bar:hover {
  fill: #fff;
}